:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.auth-card {
  background-color: var(--mat-sys-surface-variant);
  color: var(--mat-sys-on-surface-variant);
  border-radius: 48px;
}
